* {
    box-sizing: border-box;
    margin: 0;

}


body, html {
    color: hsla(27, 66%, 5%, 1);
    font-family: 'Helvetica', sans-serif;
}
/**
nav {
    background: lightblue;
}

nav ul {
    list-style: none;
    margin: 0;

}

nav li {
    display: inline-block;
    padding-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav figure {
    height: 100px;
    width: 100px;
    margin: 0;

}

nav figure > img {
    width: 100%;
    height: 100%;

}*/
