#hot-or-not,
#hot,
#not {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

#hot-or-not nav,
#hot nav,
#not nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#hot-or-not img {
    max-width: 300px;
}

#hot .users,
#not .users {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#hot img,
#not img {
    max-width: 200px;
}


.buttons {
    display: flex;
    justify-content: center;
}
